<table class="countdown" ng-if="isLaunchExact == true">
    <tr>
        <td class="value days">[[ days ]]</td>
        <td class="value hours">[[ hours ]]</td>
        <td class="value minutes">[[ minutes ]]</td>
        <td class="value seconds">[[ seconds ]]</td>
    </tr>
    <tr>
        <td class="unit days">[[ daysText ]]</td>
        <td class="unit hours">[[ hoursText ]]</td>
        <td class="unit minutes">[[ minutesText ]]</td>
        <td class="unit seconds">[[ secondsText ]]</td>
    </tr>
</table>
<table class="single" ng-if="isLaunchExact != true">
    <tr>
        <td class="value">[[ countdownText ]]</td>
    </tr>
    <tr>
        <td class="unit">Expected Launch</td>
    </tr>
</table>