<div class="rich-select" tabindex="0" data-bind="">

    <div class="selected-option default" data-bind="click: toggleDropdownVisibility, with: selectedOption">
        <img data-bind="" />
        <span class="title" data-bind="text: name"></span>
    </div>

    <ul data-bind="foreach: options, as: 'option', visible: dropdownVisible" class="options">
        <li data-bind="css { 'selected': isSelected }, click: $parent.selectOption">
            <img data-bind="attr: { src: image }"/>
            <span class="title" data-bind="text: name"></span>
        </li>
    </ul>
</div>