/bootstrap/compiled.php
/node_modules
/vendor
/frontendapp/dev
/public/media
/.sass-cache
app/config/credentials.php

composer.phar
.env.*.php
.env.phpgit remot
.DS_Store
Thumbs.db
test.log
*.sublime-project
*.sublime-workspace
/.idea
_ide_helper.php

