<div class="display-date-time">
    <div class="launch" ng-mouseover="showingTimezoneOptions = true" ng-mouseleave="showingTimezoneOptions = false">
        <p>
            <span>{{ displayDateTime() }}</span>
            <i class="fa fa-exclamation-circle alert-not-exact"
               ng-if="launchSpecificity == 6"
               ng-mouseover="hoveringOverAlert()"
               ng-mouseout="hoveringOverAlert()"></i>
        </p>
        <div class="timezone-clip">
            <ul class="timezone-list" ng-if="launchSpecificity >= 6" ng-show="showingTimezoneOptions">
                <li class="timezone-option" ng-click="setTimezone('local')" ng-class="{ 'active': currentTimezone == null }">
                    Local ({{ localTimezone }})
                </li>
                <li class="timezone-option" ng-click="setTimezone('ET')" ng-class="{ 'active': currentTimezone == 'EST' || currentTimezone == 'EDT' }">
                    Eastern
                </li>
                <li class="timezone-option" ng-click="setTimezone('PT')" ng-class="{ 'active': currentTimezone == 'PST' || currentTimezone == 'PDT' }">
                    Pacific
                </li>
                <li class="timezone-option" ng-click="setTimezone('UTC')" ng-class="{ 'active': currentTimezone == 'UTC' }">
                    UTC
                </li>
            </ul>
        </div>
    </div>
</div>