<div class="rich-select" tabindex="0" data-bind="">

    <div class="selected-option default" data-bind="click: toggleDropdownVisibility, with: selectedOption">
        <img data-bind="" />
        <span class="title" data-bind="text: name"></span>
    </div>

    <ul data-bind="visible: dropdownVisible" class="options">
        <!-- ko if: searchable === true -->
            <li>
                <input type="text" data-bind="textInput: searchValue" />
            </li>
        <!-- /ko -->
        <!-- ko foreach: filteredOptions, as: 'option' -->
            <li data-bind="css { 'selected': isSelected }, click: $parent.selectOption">
                <img data-bind="attr: { src: image }"/>
                <span class="title" data-bind="text: name"></span>
            </li>
        <!-- /ko -->
    </ul>
</div>