<div class="{{ 'comment-depth-' + comment.depth }}">
    <div>
        <span class="comment-owner">
            <a href="{{ '/users/' + comment.user.username }}">{{ comment.user.username }}</a>
        </span>
        <p class="comment-body">{{ comment.comment }}</p>

        <ul class="comment-actions">
            <li ng-click="toggleReplyState()">Reply</li>
            <li ng-click="edit()">Edit</li>
            <li ng-click="delete()">Delete</li>
        </ul>
    </div>

    <div ng-if="reply == true" ng-form="commentReplyForm">
        <textarea ng-model="$parent.replyText"></textarea>

        <button type="submit" ng-click="$parent.submitComment">Add Comment</button>
        <button type="reset" ng-click="$parent.toggleReplyState()">Cancel</button>
    </div>

    <ul class="replies" ng-if="comment.children.length > 0">
        <li ng-repeat="child in comment.children">
            <comment comment="child"></comment>
        </li>
    </ul>
</div>
