<div class="card mission-card" ng-class="size">
    <div class="top">
        <div class="thumb" ng-style="{ backgroundImage:'url(\'' + mission.featured_image_url + '\')' }"></div>
        <p>
            <a class="mission-name" ng-attr-href="{{mission.slug}}">{{ mission.name }}</a>
            <span class="for hide@small"> for </span>
            <span class="mission-contractor hide@small">{{ mission.contractor }}</span>
        </p>
    </div>
    <div class="bottom" ng-if="size == 'small'">
        <div class="container values">
            <div class="gr-4"><span class="launch-count">{{ mission.generic_vehicle_count }}</span></div>
            <div class="gr-4">{{ mission.launch_date_time }}</div>
            <div class="gr-4">launchSite FullLocation</div>
        </div>
        <div class="container keys">
            <div class="gr-4 smallcaps">{{ mission.generic_vehicle }}<br/>Launch</div>
            <div class="gr-4 smallcaps">Launch (UTC)</div>
            <div class="gr-4 smallcaps">Launch Site</div>
        </div>
    </div>

    <div class="bottom" ng-if="size == 'large'">
        <div class="container values">
            <div><span class="launch-count">{{ mission.generic_vehicle_count }}</span></div>
            <div>{{ mission.launch_date_time }}</div>
            <div>{{ mission.launch_of_year }}</div>
            <div ng-if="mission.status == 'Upcoming'">42%</div>
            <div>{{ mission.vehicle.vehicle }}</div>
            <div>{{ mission.destination.destination }}</div>
            <div>{{ mission.launch_site }}</div>
            <div ng-if="mission.status == 'Upcoming'"></div>
            <div ng-if="mission.status == 'Complete'"><img class="launch-illumination" ng-src="/images/icons/illuminations/{{ mission.launch_illumination }}.png" /></div>
            <div ng-if="mission.status == 'Complete' && mission.outcome == 'Success'">{{ mission.successful_consecutive_launch }}</div>
            <div><a ng-href="/missioncontrol/collections/mission/{{ mission.slug }}">Mission Collection</a></div>

        </div>
        <div class="container keys">
            <div>{{ mission.generic_vehicle }}<br/>Launch</div>
            <div>Launch (UTC)</div>
            <div>Launch of the Year</div>
            <div ng-if="mission.status == 'Upcoming'">Probability</div>
            <div>Vehicle</div>
            <div>Destination</div>
            <div>Launch Site</div>
            <div ng-if="mission.status == 'Upcoming'">Where to watch</div>
            <div ng-if="mission.status == 'Complete'">{{ mission.launch_illumination }} Launch</div>
            <div ng-if="mission.status == 'Complete' && mission.outcome == 'Success'">Successful Consecutive Launch</div>
            <div>Mission Collection</div>

        </div>
        <p><em>{{ mission.summary }}</em></p>
    </div>
</div>