<div class="dropdown" tabindex="0">
    <div class="selected-option default" ng-click="toggleDropdown()">
        <img ng-show="selectedOption != null" ng-attr-src="{{ selectedOption.image }}" />
        <span ng-show="selectedOption != null" class="name">{{ selectedOption.name }}</span>
        <span ng-show="selectedOption == null" class="name">{{ placeholder || 'Select...' }}</span>
    </div>

    <ul ng-show="dropdownIsVisible && options.length > 0" class="options">
        <li class="dropdown-search" ng-show="searchable">
            <input type="text" placeholder="Search..." ng-model="search.name" />
        </li>
        <li ng-click="selectOption(null)" ng-show="search.name == '' || search == null">
            <span class="name">Select...</span>
        </li>
        <li ng-repeat="option in options | filter: search" ng-class="{'selected': option == selectedOption, 'hover': hover }" ng-mouseover="hover = true" ng-mouseleave="hover = false" ng-click="$parent.selectOption(option)">
            <img ng-attr-src="{{ option.image }}" ng-if="thumbnails" />
            <span class="name">{{ option.name }}</span>
        </li>
    </ul>
    <ul ng-show="dropdownIsVisible && options.length == 0" class="options">
        <li>
            <span class="name">Nothing to show</span>
        </li>
    </ul>
</div>