.tagger-container {

    .wrapper {
        border:1px solid $bordergrey;
        font-size:0;
        overflow:hidden;

        .tag-wrapper {
            display:inline-block;
            font-size:12px;
        }

        &.active {
            border:1px solid $gold;
            box-shadow:0 0 5px rgba($october, 0.2);
        }
    }

    input {
        display:inline-block;
        vertical-align: top;
        border:none;
        box-shadow:none;
        margin:0;
        // Remove --webkit-focus-ring-color from Chrome
        outline:none;

        &:focus {
            border:none;
            box-shadow:none;
        }
    }

    .suggestion {
        width:33%;
        display:inline-block;
    }
}

.tag {
    font-family:$segoeWP;
    display: inline-block;
    background-color:$october;
    color:$white;
    border-radius: 15px;
    padding: 5px 10px;
    margin:4px 3px;
    line-height:1;

    .remove {
        padding-left:10px;
        width:20px;
        height:20px;
    }

    .remove:before {
        content:"x";
    }
}