// Resets, dependencies, etc
@import "reset";
@import "core";
@import "gridle/grid";
@import "dropzone/dropzone";
@import 'fontawesome/font-awesome';

// SpaceXStats website
@import "spacexstats/layout/layout";
@import "spacexstats/layout/header";
@import "spacexstats/layout/nav";

// SpaceXStats pages
@import "spacexstats/pages/home";
@import "spacexstats/pages/futureMission";
@import "spacexstats/pages/object";

// SpaceXStats components
@import "spacexstats/components/tags";
@import "spacexstats/components/selectList";
@import "spacexstats/components/dropzone";


/* Sticky Bar Nav */
nav.sticky-bar {
    position:sticky;
    top:0; // tell the element where to stick
    width:inherit;
    font-size:14px;
    @include transitionMed((background-color, color));

  &.stuck {
      background-color:$blue;
      color:$white;
      z-index:1000;
  }
}

.stuck ~ * {
    top:30px;
    position:relative;
}

.highlights {
    height:40px;
    width:100%;
    position:relative;
}

.hero {
    /* Calculated height: the viewport, subtracting the header (50px), the title (120px), the page nav (30px), highlights (40px), the summary (100px) */
    height:calc(100vh - 340px);
    text-align:center;
    font-family:$brandonGrotesque;
    text-transform:uppercase;

    &:before {
        content:'';
        display: inline-block;
        height:100%;
        vertical-align: middle;
        margin-right:-0.25em;
    }

    >* {
        display: inline-block;
        vertical-align: middle;
        top:-5%;
        position:relative;
    }

    table {
        border-collapse:collapse;
        position:relative;
        text-align:center;

        td {
            min-width:260px;
        }

        .value {
            font-size:180px;
            font-weight:300;
            line-height: 1;
        }

        .unit {
            font-size:30px;
            font-weight:300;
        }
    }

    /* ------------- DISPLAY STATISTICS --------------- */
    &.statistic {
        height:calc(100% - 30px - 100px);

        .description {
            height:100px;
        }
    }
}

/* ------------------ NAV ------------------ */


/* -------------- CONTENT ----------------- */
p {
    padding-top:10px;
    padding-bottom:10px;
    font-size:14px;
}

a:link, a:visited, a:hover, a:active {
    color:inherit;
    text-decoration:inherit;
}

.hidden {
    display:none;
}

.smallcaps {
    @include smallCaps();
}

/* ------------ FUTURE/PAST MISSIONS  ------------- */
.spotlight {
    background-color:$blue;
    border-radius:$border-radius-large;
    color:$white;
    margin:0 10px;
    overflow:hidden;
}

/* ----------- MISSION CONTROL UPLOAD ------------- */
.upload-type {
    @include gridle_container();

    li {
        @include gridle(4);
        font-size:$content-large;
        cursor:pointer;
    }
}

/* --------------- FORM DESIGN ----------------- */
form {
    ul li {
        height:100px;
        padding:0 10px;
    }
}

label {
    @include smallCaps();
    margin:0 10px;
}

input, textarea, button {
    width:calc(100% - 20px);
    margin:0 10px;
    padding:5px;
    border:1px solid $bordergrey;
    font-family:$notoSans;
    font-size:14px;
    box-shadow:0 0 0px rgba($october, 0.2);
    @include transitionFast(border);
    @include transitionFast(box-shadow);
}

input:focus, button:focus, textarea:focus {
    border:1px solid $gold;
    box-shadow:0 0 5px rgba($october, 0.2);
}

textarea {
    min-height:50px;
}

.prepended-input {
    margin:0 10px;
    span, input {
        display:inline-block;
    }

    span {
        width:30px;
        text-align:center;
    }

    input {
        margin:0;
        width:calc(100% - 30px);
    }
}

/* --------------- FAQS ----------------- */
section.question-list {
    //-webkit-columns:3 200px;
    //-moz-columns:3 200px;
    columns:3 200px;
    text-align:center;
}

/* --------------- MISSION CARDS ----------------- */
.mission-card {
    box-shadow:0 0 15px rgba($slateblack, 0.5);
    width:100%;
    position:relative;
    margin-top:30px;

    .top {
        padding:10px;
        padding-left:120px;
        height:80px;
    }

    .bottom {
        padding:10px;
        text-align:center;
    }

    .thumb {
        background-size:cover;
        background-position:center center;
        border-radius:$border-radius-large;
        width:100px;
        height:100px;
        position:absolute;
        top:-20px;
        left:10px;
        display: inline-block;
    }

    .launch-count {
        width:50px;
        height:50px;
        border-radius:50%; // Make it circular
        background-color:$blue;
        display:block;
        color:$white;
        line-height:50px;
        text-align: center;
        margin:0 auto;
    }
}

/* --------------- LOCATIONS ----------------- */
#location-nav {
    background-color:$october;
}