form {
    ul li {
        padding:10px;
    }

    label {
        @include smallCaps();
        line-height: 2;
        margin:0 10px;
    }

    input, textarea, button, select {
        @include transitionFast(border);
        @include transitionFast(box-shadow);

        &.invalid, &.ng-invalid.ng-touched {
            border:1px solid $red;
        }

        &:focus {
            border:1px solid $gold !important;
            box-shadow:0 0 5px rgba($october, 0.2);
        }
    }

    input, textarea {
        width:calc(100% - 20px);
        margin:0 10px;
        padding:5px;
        border:1px solid $bordergrey;
        font-family:$notoSans;
        font-size:14px;
        box-shadow:0 0 0px rgba($october, 0.2);
    }

    select {
        padding:5px;
        border:1px solid $bordergrey;
    }

    textarea {
        resize:vertical;
        min-height:50px;
    }

    // Checkbox styling from
    // http://codepen.io/andreasstorm/pen/ZGjNwZ
    input[type="checkbox"] {
        display:none;
        margin:10px;

        + label {
            position: relative;
            display: block;
            height: 20px;
            width: 44px;
            margin:10px;
            padding:0;
            background: #898989;
            border-radius: 100px;
            cursor: pointer;
            transition: all .3s ease;

            &:after {
                position: absolute;
                left: -2px;
                top: -3px;
                display: block;
                width: 26px;
                height: 26px;
                border-radius: 100px;
                background: $bordergrey;
                box-shadow: 0px 3px 3px rgba(#000, .05);
                content: '';
                transition: all .3s ease;
            }

            &:active {
                &:after {
                    transform: scale(1.15, .85);
                }
            }
        }

        &:checked + label {
            background:$blue;

            &:after {
                left:20px;
                background:$october;
            }
        }

        &:disabled + label {
            background:#D5D5D5;
            pointer-events:none;

            &:after {
                background:#BCBDBC;
            }
        }
    }

    // Radio button styling
    input[type="radio"] {
        display:none;

        + label {
            display:inline-block;
            width:20px;
            height:20px;
            position:relative;
            border:2px solid $bordergrey;
            border-radius:50%;
            cursor: pointer;
            transition: all .3s ease;
            box-shadow: 0px 3px 3px rgba(#000, .05);
        }

        &:checked + label {
            border-color:$blue;

            &:after {
                content:"";
                display:inline-block;
                position:absolute;
                border-radius:50%;
                top:2px;
                left:2px;
                width:12px;
                height:12px;
                background-color:$october;
                transition: all .3s ease;
                box-shadow: 0px 3px 3px rgba(#000, .05);
            }
        }

        &:disabled + label {
            border-color:$bordergrey;
        }

        &:checked:disabled + label {
            border-color:$bordergrey;
        }

    }

    legend {
        font-size:$font-large;
        line-height:2;
    }

    .prepended-input {
        margin:0 10px;
        span, input {
            display:inline-block;
        }

        span {
            width:30px;
            text-align:center;
        }

        input {
            margin:0;
            width:calc(100% - 30px);
        }
    }
}

button.icon-button {
    width:100px;
    height:100px;

    img {
        text-align:center;
    }
}

input[type="submit"], button {
    height:32px;
    min-width:150px;
    padding:0 20px;
    width:auto;
    border-radius:2px;
    border:none;
    color:$offwhite;
    font-weight:bold;
    text-transform: uppercase;
    letter-spacing:1px;
    cursor:pointer;
    box-shadow:0;

    // Other buttons
    background-color:$spacesuitgreen;

    // Submission buttons
    &.submit {
        background-color:$blue;
    }

    &.delete {
        background-color:$red;
    }

    // Disabled buttons
    &[disabled], &.disabled {
        background-color:$bordergrey;
    }
}

input[value="Logout"], input[value="Logout"]:focus {
    background-color:transparent;
    outline:none;
    cursor:pointer;
    border:none !important;
    font-family: "Noto Sans";
    font-size: 100%;
    letter-spacing:normal;
    text-transform:none;
    color:$slateblack;
    margin:0;
    padding:0;
    font-weight:normal;
    box-shadow:none;
}

