/* --------------- COLOR SWATCHES ----------------- */
$slateblack:	rgb(24,28,31);
$lightblack:	#21272B;
$blue:			#3569A4;
$october:		#33495E;
$grey: 			#888;
$bordergrey: 	#CCC;
$gold: 			#CCAC55;
$offwhite: 		#F5F5F5;
$white:			#FFF;

$green:         #40C085;
$spacesuitgreen:#1FA67A;
$red:           #C05B40;

/* --------------- FONT VARIABLES ----------------- */
$brandonGrotesque: "Brandon Grotesque", "Brandon Grotesque Thin", "Brandon Grotesque Regular", "Brandon Grotesque Medium";
$notoSans: "Noto Sans", sans-serif;
$segoeWP: "Segoe WP", sans-serif;

$font-large:18px;
$font-medium:14px;
$font-small:12px;

$content-large:18px;

/* ------------------- DESIGN --------------------- */
$border-radius-small:3px;
$border-radius-large:8px;

$h1-height: 150px;

/* ------------------ GENERAL MIXINS ----------------- */
@mixin transition($property) {
    transition:$property;
}
@mixin transitionFast($properties) {
    $transitions: ();

    @each $property in $properties {
        $trans: unquote("#{$property} ease-in-out 0.3s");
        $transitions: append($transitions, $trans, comma );
    }

    @include transition(#{$transitions});
}

@mixin transitionMed($properties) {
    $transitions: ();

    @each $property in $properties {
        $trans: unquote("#{$property} ease-in-out 0.5s");
        $transitions: append($transitions, $trans, comma );
    }

    @include transition(#{$transitions});
}

@mixin transitionSlow($properties) {
    $transitions: ();

    @each $property in $properties {
        $trans: unquote("#{$property} ease-in-out 1s");
        $transitions: append($transitions, $trans, comma );
    }

    @include transition(#{$transitions});
}

@mixin transform($transformation) {
    transform:$transformation;
}

@mixin filteredBackground($backgroundImage) {
    background-image: url($backgroundImage);
    //background-image: linear-gradient(rgba(#33495E, 0.5), rgba($slateblack, 0.5)), url($backgroundImage);
    //-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#BF21272B', endColorstr='#BF21272B', gradientType='0')";
}

@mixin smallCaps() {
    font-size:14px;
    color:$lightblack;
    text-transform: uppercase;
    font-weight:600;
    font-family:$segoeWP;
}

/* ----------------- HELPER CLASSES --------------- */
@each $align in left, right, center {
    .text-#{$align} {
        text-align:$align;
    }
}