// Core
@import "core";

// SpaceXStats website
@import "spacexstats/layout/layout";
@import "spacexstats/layout/header";
@import "spacexstats/layout/nav";
@import "spacexstats/layout/forms";
@import "spacexstats/layout/comments";
@import "spacexstats/layout/charts";
@import "spacexstats/layout/search";
@import "spacexstats/layout/markdown";
@import "spacexstats/layout/subscriptions";

// SpaceXStats pages
@import "spacexstats/pages/home";
@import "spacexstats/pages/mission";
@import "spacexstats/pages/object";
@import "spacexstats/pages/upload";
@import "spacexstats/pages/dataviews";
@import "spacexstats/pages/live";
@import "spacexstats/pages/profile";
@import "spacexstats/pages/missioncontrol";
@import "spacexstats/pages/publishers";

// SpaceXStats components
@import "spacexstats/components/tags";
@import "spacexstats/components/dropdown";
@import "spacexstats/components/dropzone";
@import "spacexstats/components/datetime";
@import "spacexstats/components/cards";
@import "spacexstats/components/twitter";
@import "spacexstats/components/deltav";
@import "spacexstats/components/countdown";
@import "spacexstats/components/timeline";
@import "spacexstats/components/tooltips";
@import "spacexstats/components/modals";

/* ------------ FUTURE/PAST MISSIONS  ------------- */
.spotlight {
    background-color:$blue;
    border-radius:$border-radius-large;
    color:$white;
    margin:0 10px;
    overflow:hidden;
}

/* --------------- FAQS ----------------- */
section.question-list {
    //-webkit-columns:3 200px;
    //-moz-columns:3 200px;
    columns:3 200px;
    text-align:center;
}

/* --------------- LOCATIONS ----------------- */
#location-nav {
    background-color:$october;
    @include transitionMed('height');

    &.expanded {
        height:700px;
    }

    &.retracted {
        height:50px;

        svg {
            display:none;
        }
    }
}

g.location {
    cursor:pointer;
}