// Resets, dependencies, etc
@import "core";
@import "reset";
@import "gridle/grid";
@import "dropzone/dropzone";
@import 'fontawesome/font-awesome';

// SpaceXStats website
@import "spacexstats/layout/layout";
@import "spacexstats/layout/header";
@import "spacexstats/layout/nav";
@import "spacexstats/layout/forms";
@import "spacexstats/layout/comments";
@import "spacexstats/layout/charts";
@import "spacexstats/layout/search";
@import "spacexstats/layout/markdown";

// SpaceXStats pages
@import "spacexstats/pages/home";
@import "spacexstats/pages/mission";
@import "spacexstats/pages/object";
@import "spacexstats/pages/upload";
@import "spacexstats/pages/dataviews";
@import "spacexstats/pages/live";

// SpaceXStats components
@import "spacexstats/components/tags";
@import "spacexstats/components/dropdown";
@import "spacexstats/components/dropzone";
@import "spacexstats/components/datetime";
@import "spacexstats/components/objectCard";

/* -------------- CONTENT ----------------- */
p {
    padding-top:10px;
    padding-bottom:10px;
    font-size:14px;
}

a:link, a:visited, a:hover, a:active {
    color:inherit;
    text-decoration:inherit;
}

.hidden {
    display:none;
}

.smallcaps {
    @include smallCaps();
}

/* ------------ FUTURE/PAST MISSIONS  ------------- */
.spotlight {
    background-color:$blue;
    border-radius:$border-radius-large;
    color:$white;
    margin:0 10px;
    overflow:hidden;
}

/* --------------- FORM DESIGN ----------------- */


/* --------------- FAQS ----------------- */
section.question-list {
    //-webkit-columns:3 200px;
    //-moz-columns:3 200px;
    columns:3 200px;
    text-align:center;
}

/* --------------- MISSION CARDS ----------------- */
.mission-card {
    box-shadow:0 0 15px rgba($slateblack, 0.5);
    width:100%;
    position:relative;
    margin-top:30px;

    .top {
        padding:10px;
        padding-left:120px;
        height:80px;
    }

    .bottom {
        padding:10px;
        text-align:center;
    }

    .thumb {
        background-size:cover;
        background-position:center center;
        border-radius:$border-radius-large;
        width:100px;
        height:100px;
        position:absolute;
        top:-20px;
        left:10px;
        display: inline-block;
    }

    .launch-count {
        width:50px;
        height:50px;
        border-radius:50%; // Make it circular
        background-color:$blue;
        display:block;
        color:$white;
        line-height:50px;
        text-align: center;
        margin:0 auto;
    }
}

/* --------------- LOCATIONS ----------------- */
#location-nav {
    background-color:$october;
}