<div class="search">
    <div class="search-controls container">
        <div class="gr-8">
            <input class="search" type="search" ng-model="currentSearch.rawQuery" ng-keyup="onSearchKeyPress($event)" placeholder="Search Mission Control" class="grid-8" />
        </div>
        <div class="gr-4">
            <button class="search" ng-click="search()" ng-disabled="currentSearch.rawQuery == null || currentSearch.rawQuery == ''"><i class="fa fa-search"></i></button>
            <input type="reset" value="Reset" ng-click="reset()" />
        </div>
    </div>

	<div class="filters container">
		<dropdown class="gr-2 filter missions" options="searchData.missions" unique-key="mission_id" title-key="name" has-default-option="false" ng-model="brokerFilters.mission" placeholder="Mission"></dropdown>

        <dropdown class="gr-2 filter types" options="searchData.types" unique-key="type" title-key="type" has-default-option="false"
        ng-model="brokerFilters.type" placeholder="Type"></dropdown>

        <div class="gr-2 filter before after">
            <datepicker format="yyyy-MMMM-dd">
                <input ng-model="brokerFilters.after" type="text"/>
            </datepicker>
            <datepicker format="yyyy-MMMM-dd">
                <input ng-model="brokerFilters.before" type="text"/>
            </datepicker>
        </div>

        <div class="gr-2 filter favorited">
            <input type="checkbox" name="favorited" id="favorited" ng-model="brokerFilters.favorited" />
            <label for="favorited"></label>
        </div>

        <div class="gr-2 filter noted">
            <input type="checkbox" name="noted" id="noted" ng-model="brokerFilters.noted" />
            <label for="noted"></label>
        </div>

        <div class="gr-2 filter downloaded">
            <input type="checkbox" name="downloaded" id="downloaded" ng-model="brokerFilters.downloaded" />
            <label for="downloaded"></label>
        </div>
	</div>
</div>