<div class="rich-select" tabindex="0">
    <div class="selected-option default" ng-click="toggleDropdown">
        <img ng-attr-src="selectedOption.image" />
        <span class="title">[[ selectedOption.title ]]</span>
    </div>

    <ul ng-show="dropdownIsVisible" class="options">
        <li ng-if="searchable">
            <input type="text" data-bind="textInput: searchValue" />
        </li>
        <li ng-repeat="option in options | filter:bySearch as results" ng-class="{'selected': isSelected }" ng-click="$parent.selectOption">
            <img ng-attr-src="option.image" />
            <span class="title">[[ option.title ]]</span>
        </li>
        <li ng-if="results.length == 0">
            <span>No results!</span>
        </li>
    </ul>
</div>