<!-- ko if: action == 'read' -->
<div class="card twitter-card">

</div>
<!-- /ko -->
<!-- ko if: action == 'write' -->
<div class="card twitter-card write">
    <label>Tweet URL</label>
    <input type="url" name="tweet_url" id="tweet_url" data-bind="textInput: tweetUrl" />
    <hr/>
    <p>Alternatively, if the tweet is no longer available, enter the tweet information below</p>
    <div class="tweeter-details">
        <img data-bind="attr: { src: tweet.tweet_user_profile_image_url }" />
        <span class="tweeter-name" data-bind="text: tweet.tweet_user_name"></span>
        <label>Username</label>
        <input type="text" class="tweeter-screen-name" data-bind="value: tweet.tweet_user_screen_name" />
    </div>
    <textarea class="tweet-text" data-bind="value: tweet.tweet_text"></textarea>
    <div class="date-input">
        <datetime params="value: tweet.tweet_created_at, type: 'datetime'"></datetime>
    </div>
    <tags params="tags: tweet.tags"></tags>
</div>
<ul class="tweet-images-list" data-bind="template: { name: 'tweet-images-template', foreach: tweet.images }">
</ul>
<div class="tweet-images-details"></div>

<!-- /ko -->

<script type="text/html" id="image-file-template">
    <div data-bind="attr: { 'data-index': $index }, visible: $root.visibleTemplate() == ko.unwrap($index)">
        <h2 data-bind="text: original_name"></h2>
        <form>
            <ul class="container">
                <li class="grid-4">
                    <img data-bind="attr : { src: thumb_small, alt: original_name }">
                </li>

                <li class="grid-4">
                    <label>
                        <p>Title</p>
                        <input type="text" name="title" data-bind="value: title" />
                    </label>
                </li>

                <li class="grid-8">
                    <label>
                        <p>Summary</p>
                        <textarea name="summary" data-bind="value: summary"></textarea>
                    </label>
                </li>

                <li class="grid-4">
                    <label>
                        <p>Related to Mission</p>
                        <rich-select params="fetchFrom: '/missions/all', default: true, value: mission_id, mapping: {}"></rich-select>
                    </label>
                </li>

                <li class="grid-6">
                    <label>
                        <p>Author</p>
                        <input type="text" name="author" data-bind="value: author" />
                    </label>
                </li>

                <li class="grid-6">
                    <label>
                        <p>Attribution/Copyright</p>
                        <textarea name="attribution" data-bind="value: attribution"></textarea>
                    </label>
                </li>

                <li class="grid-6">
                    <label>
                        <p>Tags</p>
                        <tags params="tags: tags"></tags>
                    </label>
                </li>

                <li class="grid-6">
                    <label>
                        <p>Type</p>
                        <select data-bind="value: subtype">
                            <option>None</option>
                            <option value="1">Mission Patch</option>
                            <option value="2">Photo</option>
                            <option value="3">Chart</option>
                            <option value="5">Screenshot</option>
                            <option value="11">Infographic</option>
                            <option value="12">News Summary</option>
                        </select>
                    </label>
                </li>

                <li class="grid-6">
                    <datetime params="value: originated_at, type: 'date'"></datetime>
                </li>

                <li class="grid-12">
                    <label>
                        <p>Submit anonymously?</p>
                        <input type="checkbox" name="anonymous" data-bind="checked: anonymous" />
                    </label>
                </li>
            </ul>
        </form>
    </div>
</script>