// Display
.hero {
    // Calculated height: the viewport, subtracting the header (50px), the title (150px), the page nav (50px), highlights (40px), the summary (100px)
    height:calc(100vh - 50px - #{$h1-height} - 50px - 40px - 100px);
    text-align:center;
    font-family:$brandonGrotesque;
    text-transform:uppercase;

    &:before {
        content:'';
        display: inline-block;
        height:100%;
        vertical-align: middle;
        margin-right:-0.25em;
    }

    >* {
        display: inline-block;
        vertical-align: middle;
    }

    table {
        border-collapse:collapse;
        position:relative;
        text-align:center;

        td {
            @include gridle_state("small") {
                min-width:80px;
            }
            @include gridle_state("medium") {
                min-width:120px;
            }
            @include gridle_state("large") {
                min-width:200px;
            }
            min-width:250px;
        }

        .value {
            @include gridle_state("small") {
                font-size:50px;
            }
            @include gridle_state("medium") {
                font-size:100px;
            }
            @include gridle_state("large") {
                font-size:200px;
            }
            font-size:300px;
            font-weight:300;
            line-height: 1;
        }

        .unit {
            @include gridle_state("small") {
                font-size:18px;
            }
            font-size:30px;
            font-weight:300;
        }
    }

    // Display statistics
    &.statistic {
        height:calc(100% - 30px - 100px);

        .description {
            height:100px;
        }
    }
}

#side-navigation {
    position: fixed;
    top:50%;
    margin-top:-210px;

    .link {
        display: block;
        width: 5px;
        height: 5px;
        padding: 10px;
        cursor:pointer;

        &:before {
            width: 6px;
            height: 6px;
            top:-3px;
            left:-3px;
            position:relative;
            border-radius:50%;
            content: "";
            display: block;
            background-color:rgba($white, 0.5);
        }

        &:hover:before, &.active:hover:before {
            background-color:$blue;
        }

        &.active:before {
            background-color:$white;
        }
    }
}

.previous-stat, .next-stat {
    position:absolute;
    width:40px;
    height:40px;
    right:0;
    background-color:transparent;
    border:none;
    padding:0;
    color:$white;

    @include gridle_state('small') {
        display:none;
    }
}

.previous-stat {
    top:-60px;
}

.next-stat {
    bottom:-45px;
}

// Animation of substatistics
.fade-in-out {
    @include transitionFast(opacity);
}

.fade-in-out.ng-hide {
    opacity: 0;
}

.background {	@include filteredBackground("../images/backgrounds/dscovr2.jpg"); }

#home {

    .app-description {
        padding:0 10px;
    }

    p {
        font-size:16px;
        line-height:1.6;

        @include gridle_state(small) {
            font-size:14px;
        }
    }

    .expando-button {
        width:150px;
        @include transitionMed(width);

        &:hover {
            width:200px;
        }
    }
}

// Statistic types
launch-date {
    position:absolute;
    top:50px;
    right:5px;
}