// Display
.hero {
    // Calculated height: the viewport, subtracting the header (50px), the title (150px), the page nav (50px), highlights (40px), the summary (100px)
    height:calc(100vh - 50px - #{$h1-height} - 50px - 40px - 100px);
    text-align:center;
    font-family:$brandonGrotesque;
    text-transform:uppercase;

    &:before {
        content:'';
        display: inline-block;
        height:100%;
        vertical-align: middle;
        margin-right:-0.25em;
    }

    &:not(.statistic) > * {
        position:relative;
    }

    > * {
        display: inline-block;
        vertical-align: middle;
    }

    table {
        border-collapse:collapse;
        position:relative;
        text-align:center;

        td {
            @include gridle_state("small") {
                min-width:100px;
            }
            @include gridle_state("medium") {
                min-width:150px;
            }
            @include gridle_state("large") {
                min-width:250px;
            }
            min-width:300px;
        }

        .unit {
            @include gridle_state("small") {
                font-size:18px;
            }
            font-size:30px;
            font-weight:300;
        }

        .value {
            font-weight:300;
            line-height: 1;
        }

        &.countdown, &.single.expected {
            .value {
                @include gridle_state("small") {
                    font-size:80px;
                }
                @include gridle_state("medium") {
                    font-size:100px;
                }
                @include gridle_state("large") {
                    font-size:120px;
                }
                font-size:150px;
            }
        }

        &.single {
            .value {
                @include gridle_state("small") {
                    font-size:100px;
                }
                @include gridle_state("medium") {
                    font-size:150px;
                }
                @include gridle_state("large") {
                    font-size:200px;
                }
                font-size:300px;
            }
        }

        &.double, &.gesture {
            .value {
                @include gridle_state("small") {
                    font-size:40px;
                }
                @include gridle_state("medium") {
                    font-size:60px;
                }
                @include gridle_state("large") {
                    font-size:80px;
                }
                font-size:100px;
            }
        }
    }

    // Display statistics
    &.statistic {
        height:calc(100% - 30px - 100px);

        .description {
            height:100px;
        }

        svg {
            text {
                fill:white;
                font-size:14px;
                font-family:$brandonGrotesque;
            }

            path, line {
                stroke:white;
            }
        }

        // Statistic types
        launch-date {
            position:absolute;
            top:50px;
            right:5px;
        }
    }
}

#side-navigation {
    position: fixed;
    top:50%;
    margin-top:-210px;

    .link {
        display: block;
        width: 5px;
        height: 5px;
        padding: 10px;
        cursor:pointer;

        &:before {
            width: 6px;
            height: 6px;
            top:-3px;
            left:-3px;
            position:relative;
            border-radius:50%;
            content: "";
            display: block;
            background-color:rgba($white, 0.5);
        }

        &:hover:before, &.active:hover:before {
            background-color:$blue;
        }

        &.active:before {
            background-color:$white;
        }
    }
}

.previous-stat, .next-stat {
    position:absolute;
    width:40px;
    height:40px;
    right:0;
    background-color:transparent;
    border:none;
    padding:0;
    color:$white;

    @include gridle_state('small') {
        display:none;
    }
}

.previous-stat {
    top:-60px;
}

.next-stat {
    bottom:-45px;
}

// Animation of substatistics
.fade-in-out {
    @include transitionFast(opacity);
}

.fade-in-out.ng-hide {
    opacity: 0;
}

#home {

    .app-description {
        padding:0 10px;
    }

    p {

        &.exclaim {
            font-size:48px;


            a {
                text-decoration: none;
                color:$gold;
                font-weight:400;
            }
        }

        font-size:16px;
        line-height:1.6;

        @include gridle_state(small) {
            font-size:14px;
        }
    }

    .description {
        position: absolute;
        bottom: 0;
        text-align: center;
        width: 100%;
        font-size: 12px;
    }

    .expando-button {
        width:150px;
        @include transitionMed(width);

        &:hover {
            width:200px;
        }
    }
}

#home { background-image:url("../images/backgrounds/orbcommdark.jpg"); }
#nextLaunch { background-image:url("../images/backgrounds/dscovrlaunch.jpg"); }
#launchCount { background-image:url("../images/backgrounds/seslaunch.jpg"); }
#launchesPerYear { background-image:url("../images/backgrounds/orbcommliftoff.jpg"); }
#dragon { background-image:url("../images/backgrounds/dragoncrs5.jpg"); }
#vehicles { background-image:url("../images/backgrounds/crs6barge.jpg"); }
#engines { background-image:url("../images/backgrounds/merlinteststand.jpg"); }
#capeCanaveral { background-image:url("../images/backgrounds/capeflorida.jpg"); }
#ksc { background-image:url("../images/backgrounds/fh.jpg"); }
#vandenberg { background-image:url("../images/backgrounds/cassiopelaunch.jpg"); }
#bocaChica { background-image:url("../images/backgrounds/bocachica.jpg"); }
#kwajalein { background-image:url("../images/backgrounds/kwaj.jpg"); }
#dragonRiders { background-image:url("../images/backgrounds/dragonriders.jpg"); }
#elonMusksBetExpires { background-image:url("../images/backgrounds/elonmusk.jpg"); }
#timeSinceFounding { background-image:url("../images/backgrounds/spacexhq.jpg"); }
#payloads { background-image:url("../images/backgrounds/payloadfairing.jpg"); }
#turnarounds { background-image:url("../images/backgrounds/thaicomlaunch.jpg"); }
#internetConstellation { background-image:url("../images/backgrounds/tankland.jpg"); }
#marsPopulationCount { background-image:url("../images/backgrounds/mars.jpg"); }
#hoursWorked { background-image:url("../images/backgrounds/rollout.jpg"); }