$live-header-height: 80px;

body.live {
    background-color:$blue;
    height:auto;

    h1, .countdown.live {
        height:$live-header-height;
        line-height:$live-header-height;
        text-align:center;
    }

    .content-wrapper {
        height:auto;

        header {
            margin:0 auto;
            height:$live-header-height;
            overflow: hidden;
        }

        main {
            min-height:calc(100vh - #{$live-header-height});
        }
    }

    .access-links {
        color:$white;
        line-height:$live-header-height;
        text-align: center;

        &#logo {
            @include gridle_grid(2);
        }
    }

    .live-status {
        font-family: $brandonGrotesque;
        font-size:24px;
        padding:5px 0;
        color:white;

        &.upcoming {
            background-color:$grey;
        }

        &.hold-abort {
            color:#8F6481;
        }

        &.terminal-count {
            background-color:$october;
        }

        &.in-progress {
            background-color:$gold;
        }

        &.mission-success {
            background-color:$green;
        }

        &.mission-failure {
            background-color:$red;
        }
    }
}

.dark {
    background-color:$lightblack;
    color:$offwhite;

    .segmented-control ul li {
        color:$offwhite;
    }
}

.countdown.live {
    font-family:$brandonGrotesque;
    font-weight:100;
    font-size:60px;
    color:$white;
    margin:0 auto;

    td {
        min-width:125px;
        padding:0 5px;
    }
}

section.editing-details {
    background-color:$bordergrey;
    @include insetBoxShadow($october);
}

.canned-responses textarea {
    min-height:80px;
}

button.canned-response {
    width:100px;
    min-width:100px;
    padding:0;
    font-size:smaller;
    letter-spacing: normal;
}

#streams {

    iframe {
        margin:0 auto;
        display:block;
    }

    @mixin liveHeight($small, $large) {
        &.smaller {
            height:720px * $small;

            iframe {
                height:720px * $small;
                width:1280px * $small;
            }
        }

        &.larger {
            height:720px * $large;

            iframe {
                height:720px * $large;
                width:1280px * $large;
            }
        }
    }

    @media screen and (max-height: 719px) {
        @include liveHeight(0.5, 0.6);
    }

    @media screen and (min-height: 720px) and (max-height:1080px) {
        @include liveHeight(0.8, 0.9);
    }

    @media screen and (min-height:1081px) {
        @include liveHeight(0.9, 1);
    }
}

.live-updates {
    .update {
        border-bottom:1px solid $bordergrey;
        padding:5px 0;

        .update-timestamp {
            font-size:18px;
            font-family: $montserrat;
        }

        i.fa-edit {
            cursor:pointer;
            float:right;

            &:hover {
                color:$gold;
            }
        }
    }
}

.message-integration {
    img {
        max-width:100px;
        max-height:100px;
        border-radius: $border-radius-large;
    }
}

button.canned-response {
    background-color:$grey;
    @include transitionFast(background-color);

    &.unlocked {
        background-color:$gold;
    }
}

#resources {
    padding-left:10px;

    li {
        padding:10px 0;
    }
}