body.live {
    background-color:$blue;
    height:auto;

    h1 {
        height:100px;
        line-height:100px;
        text-align:center;
    }

    .content-wrapper {
        height:auto;

        main {
            min-height:calc(100vh - #{$h1-height} + 50px);
        }
    }

}