.mission-link {
    display:inline-block;
    overflow:hidden;

    &.future-mission-link {
        float:right;
        text-align:right;

        &:hover {
            .placeholder {
                transform:translateX(140px);
                opacity:0;
            }

            .link {
                transform:translateX(140px);
                opacity:1;
            }
        }
    }

    &.past-mission-link {
        &:hover {
            .placeholder {
                transform:translateX(-140px);
                opacity:0;
            }

            .link {
                transform:translateX(-140px);
                opacity:1;
            }
        }
    }

    .placeholder {
        text-transform:uppercase;
        display:inline-block;
        width:140px;
        opacity:1;
        @include transitionFast(all);
    }

    .link {
        opacity: 0;
        display:inline-block;
        @include transitionFast(all);
    }
}

.outcome, .status {
    border-radius:$border-radius-small;
    color:$white;
    padding:3px 5px;

    &.complete {
        background-color:$gold;
    }

    &.in-progress {
        background-color:$gold;
    }

    &.upcoming {
        background-color:$grey;
    }

    &.success {
        background-color:$green;
    }

    &.failure {
        background-color:$red;
    }
}

.display-date-time {
    position:absolute;
    right:0;
    top:0;
    width:225px;


    .launch {
        display:inline-block;
        text-align:right;
        background-color:$gold;
        color:$white;
        height:40px;
        line-height:40px;
        width:100%;
        padding:0 10px;
        position:relative;
        right:-10px;

        &:after {
            width: 0px;
            height: 0px;
            border-right:10px solid transparent;
            border-top:10px solid darken($gold, 30%);
            display: block;
            top: 40px;
            right:0;
            position: absolute;
            content: "";
        }
    }

    .timezone {
        @include smallCaps();
        text-align:center;
        margin-left:10px;
        padding:0;
        @include transitionMed('background-color');

        &:hover {
            @include transitionMed('background-color');
            background-color:$gold;
        }
    }
}

#countdown > * {
    top:-10%;
}

section.details {
    @include gridle_container();

    #live-tweets {
        @include gridle(4);
    }

    #mission-details {

    }
}

