body.object {

    .content {
        margin-left:-10px;
        text-align:center;
    }

    .aside {
        margin-left:10px;
    }
}

img#object {
    max-width:100%;
}

.object-actions.container {
    text-align:center;

    i {
        color:$october;
        cursor:pointer;
        display:block;
        padding:5px;
    }

    .is-favorited {
        color:$gold;
        animation
    }
}

.video-js {
    width:auto !important;
    height:auto !important;
    padding-top:56.25% !important; // 16:9 http://coolestguidesontheplanet.com/videodrome/videojs/
}

.vjs-fullscreen {
    padding-top:0% !important;
}