.interactions {
    img {
        width:64px;
        height:64px;
        margin:0 10px;
    }
}

.about-this-user {
    td:first-child {
        color:$grey;
        text-align:right;
    }

    td:last-child {

    }
}