<table class="countdown" ng-class="{ 't-minus-zero': tMinusZero }" ng-if="(isLaunchExact && type == 'classic' && (!isPaused || isVisibleWhenPaused)) || type == 'interval'">
    <tr>
        <td class="value days">{{ days }}</td>
        <td class="value hours">{{ hours }}</td>
        <td class="value minutes">{{ minutes }}</td>
        <td class="value seconds">{{ seconds }}</td>
    </tr>
    <tr>
        <td class="unit days">{{ daysText }}</td>
        <td class="unit hours">{{ hoursText }}</td>
        <td class="unit minutes">{{ minutesText }}</td>
        <td class="unit seconds">{{ secondsText }}</td>
    </tr>
</table>
<table class="single expected" ng-if="!isLaunchExact && type == 'classic' && (!isPaused || isVisibleWhenPaused)">
    <tr>
        <td class="value">{{ countdownText }}</td>
    </tr>
    <tr>
        <td class="unit">Expected Launch</td>
    </tr>
</table>
<table class="countdown" ng-if="type == 'classic' && isPaused && !isVisibleWhenPaused">
    <tr>
        <td class="value">Paused</td>
    </tr>
</table>
<table class="countdown live" ng-class="{ 't-minus-zero': tMinusZero }" ng-if="type == 'live' && (!isPaused || isVisibleWhenPaused)">
    <tr>
        <td>T{{ sign }}</td>
        <td>{{ days }}<small>d</small></td>
        <td>{{ hours }}<small>h</small></td>
        <td>{{ minutes }}<small>m</small></td>
        <td>{{ seconds }}<small>s</small></td>
    </tr>
</table>
<table class="countdown live" ng-if="type == 'live' && isPaused">
    <tr>
        <td>Paused</td>
    </tr>
</table>