<div class="datetime">
    <input type="checkbox" ng-show="isNullable == 'true'" ng-model="isNull" ng-change="changeNull()"/>

    <select ng-model="datetime.day" ng-options="day.value as day.display for day in days() track by value" ng-disabled="isNull == true"></select>
    <select ng-model="datetime.month" ng-options="month.value as month.display for month in months" ng-disabled="isNull == true"></select>
    <select ng-model="datetime.year" ng-options="year.value as year.display for year in years() track by value" ng-disabled="isNull == true"></select>

    <input ng-if="type == 'datetime'" type="number" min="0" max="23" ng-model="datetime.hour" ng-disabled="isNull == true" />:
    <input ng-if="type == 'datetime'" type="number" min="0" max="59" ng-model="datetime.minute" ng-disabled="isNull == true" />:
    <input ng-if="type == 'datetime'" type="number" min="0" max="59" ng-model="datetime.second" ng-disabled="isNull == true" />
</div>