<div class="datetime">
    <input type="checkbox" ng-if="nullableToggle == 'true'" ng-model="isNull"/>

    <select ng-model="datetime.day" ng-change="changeModel.day()" ng-options="day.value as day.display for day in days" ng-disabled="isNull == 'true'">
    </select>
    <select ng-model="datetime.month" ng-change="changeModel.month()" ng-options="month.value as month.display for month in months" ng-disabled="isNull == 'true'">
    </select>
    <select ng-model="datetime.year" ng-change="changeModel.year()" ng-options="year for year in years()" ng-disabled="isNull == 'true'">
    </select>

    <div ng-if="type == 'datetime'">
        <input type="number" min="0" max="23" ng-model="datetime.hour" ng-change="changeModel.hour()" ng-disabled="isNull == 'true'" />:
        <input type="number" min="0" max="59" ng-model="datetime.minute" ng-change="changeModel.minute()" ng-disabled="isNull == 'true'" />:
        <input type="number" min="0" max="59" ng-model="datetime.second" ng-change="changeModel.second()" ng-disabled="isNull == 'true'" />
    </div>

    <span ng-if="showHinting == 'true'"></span>

</div>