<div class="card mission-card" ng-class="size">
    <div class="top">
        <div class="thumb"></div>
        <p>
            <a class="mission-name" ng-attr-href="{{mission.slug}}">{{ mission.name }}</a>
            <span class="for hide@small"> for </span>
            <span class="mission-contractor hide@small">{{ mission.contractor }}</span>
        </p>
    </div>
    <div class="bottom" ng-if="size == 'small'">
        <div class="container values">
            <div class="gr-4"><span class="launch-count">{{ mission.generic_vehicle_count }}</span></div>
            <div class="gr-4">{{ mission.launch_date_time }}</div>
            <div class="gr-4">launchSite FullLocation</div>
        </div>
        <div class="container keys">
            <div class="gr-4 smallcaps">{{ mission.generic_vehicle }}<br/>Launch</div>
            <div class="gr-4 smallcaps">Launch (UTC)</div>
            <div class="gr-4 smallcaps">Launch Site</div>
        </div>
    </div>

    <div class="bottom" ng-if="size == 'large'">
        <div class="container values">
            <div class="gr-1on9"><span class="launch-count">{{ mission.generic_vehicle_count }}</span></div>
            <div class="gr-1on9">{{ mission.launch_date_time }}</div>
            <div class="gr-1on9">{{ mission.launch_of_year }}</div>
            <div class="gr-1on9" ng-if="mission.status == 'Upcoming'">42%</div>
            <div class="gr-1on9">{{ mission.vehicle.vehicle }}</div>
            <div class="gr-1on9">{{ mission.destination.destination }}</div>
            <div class="gr-1on9">{{ mission.launch_site }}</div>
            <div class="gr-1on9" ng-if="mission.status == 'Upcoming'"></div>
            <div class="gr-1on9" ng-if="mission.status == 'Complete'"><img class="launch-illumination" ng-src="/images/icons/illuminations/{{ mission.launch_illumination }}.png" /></div>
        </div>
        <div class="container keys">
            <div class="gr-1on9">{{ mission.generic_vehicle }}<br/>Launch</div>
            <div class="gr-1on9">Launch (UTC)</div>
            <div class="gr-1on9">Launch of the Year</div>
            <div class="gr-1on9" ng-if="mission.status == 'Upcoming'">Probability</div>
            <div class="gr-1on9">Vehicle</div>
            <div class="gr-1on9">Destination</div>
            <div class="gr-1on9">Launch Site</div>
            <div class="gr-1on9" ng-if="mission.status == 'Upcoming'">Where to watch</div>
            <div class="gr-1on9" ng-if="mission.status == 'Complete'">{{ mission.launch_illumination }} Launch</div>
        </div>
        <p><em>{{ mission.summary }}</em></p>
    </div>
</div>