<div class="search" id="search">
    <div class="search-controls container">
        <div class="gr-8">
            <input class="search" type="search" ng-model="currentSearch.rawQuery" ng-keyup="onSearchKeyPress($event)" placeholder="Search Mission Control" class="gr-8" />
        </div>
        <div class="gr-4">
            <button class="search" ng-click="search()" ng-disabled="currentSearch.rawQuery == null || currentSearch.rawQuery == ''"><i class="fa fa-search"></i></button>
            <button class="reset" ng-click="reset()" ng-disabled="currentSearch.rawQuery == null || currentSearch.rawQuery == ''"><i class="fa fa-close"></i></button>
        </div>
    </div>

	<div class="filters container">
		<dropdown class="gr-2 filter missions" ng-change="onFilterUpdate('mission')" options="data.missions" unique-key="mission_id" title-key="name" has-default-option="false" ng-model="brokerFilters.mission" placeholder="Mission"></dropdown>

        <dropdown class="gr-2 filter types" options="data.types" unique-key="type" title-key="type" has-default-option="false"
        ng-model="brokerFilters.type" ng-change="onFilterUpdate('type')" placeholder="Type"></dropdown>

        <div class="gr-2 filter before after search-datepicker">
            <div ng-click="isDatepickerVisible = !isDatepickerVisible">
                <span ng-bind="datepickerText()"></span>
            </div>
            <div class="datepicker-dropdown" ng-show="isDatepickerVisible">
                <datepicker  date-format="MMM d, yyyy">
                    <input ng-model="brokerFilters.after" ng-change="onFilterUpdate('after')" type="text"/>
                </datepicker>
                <datepicker date-format="MMM d, yyyy">
                    <input ng-model="brokerFilters.before" ng-change="onFilterUpdate('before')" type="text"/>
                </datepicker>
            </div>
        </div>

        <div class="gr-2 filter favorited">
            <input type="checkbox" name="favorited" id="favorited" ng-model="brokerFilters.favorited" ng-change="onFilterUpdate('favorited')" />
            <label for="favorited">Favorited?</label>
        </div>

        <div class="gr-2 filter noted">
            <input type="checkbox" name="noted" id="noted" ng-model="brokerFilters.noted" ng-change="onFilterUpdate('noted')" />
            <label for="noted">Noted?</label>
        </div>

        <div class="gr-2 filter downloaded">
            <input type="checkbox" name="downloaded" id="downloaded" ng-model="brokerFilters.downloaded" ng-change="onFilterUpdate('downloaded')" />
            <label for="downloaded">Downloaded?</label>
        </div>
	</div>
</div>