<div class="select-list" tabindex="0">
    <div class="selected-option default" ng-click="toggleDropdown()">
        <img ng-show="selectedOption != null" ng-attr-src="selectedOptionObj.image" />
        <span ng-show="selectedOption != null" class="name">[[ selectedOptionObj.name ]]</span>

        <span ng-show="selectedOption == null" class="name">[[ placeholder || 'Select...' ]]</span>
    </div>

    <ul ng-show="dropdownIsVisible" class="options">
        <li ng-show="searchable">
            <input type="text" placeholder="Search..." ng-model="search.name" />
        </li>
        <li ng-click="selectDefault()" ng-show="search.name == '' || search == ''">
            <span class="name">Select...</span>
        </li>
        <li ng-repeat="option in optionsObj | filter: search" ng-class="{'selected': isSelected(option) }" ng-click="$parent.selectOption(option)">
            <img ng-attr-src="option.image" />
            <span class="name">[[ option.name ]]</span>
        </li>
    </ul>
</div>