<div class="tagger-container">
    <div class="wrapper">
        <div class="tag-wrapper" style="display:inline-block;font-size:12px;">
            <div class="tags" ng-repeat="tag in selectedTags" style="display:inline-block;font-size:12px;">
                <div>
                    [[ tag.name ]]
                    <span class="remove" ng-click="removeTag(tag)"></span>
                </div>
            </div>
        </div>
        <input type="text" class="tag-input"
               ng-model="tagInput"
               ng-keypress="tagInputKeyPress($event)"
               ng-keyup="updateSuggestionList()"
               ng-focus="toggleSuggestionVisibility()"
               ng-blur="toggleSuggestionVisibility()"
               ng-style="[[ inputLength ]]"
               style="display:inline-block;" />
    </div>
    <div class="suggestions" ng-show="areSuggestionsVisible">
        <div class="suggestion" ng-repeat="tag in suggestions" ng-mousedown="createTag(tag.name)">[[ tag.name ]] </div>
    </div>
</div>