<div class="tagger-container">
    <div class="wrapper" ng-class="{ 'active': areSuggestionsVisible }">
        <div class="tag-wrapper">
            <div class="tag" ng-repeat="tag in currentTags">
                {{ tag.name }}
                <span class="remove" ng-click="removeTag(tag)"></span>
            </div>
        </div>
        <input type="text" class="tag-input"
               ng-maxlength="50"
               ng-model="tagInput"
               ng-style="{ width: inputLength + 'px'}"
               ng-keydown="tagInputKeydown($event)"
               ng-keyup="updateSuggestionList()"
               ng-focus="toggleSuggestionVisibility()"
               ng-blur="toggleSuggestionVisibility()" />
    </div>
    <div class="suggestions" ng-show="areSuggestionsVisible">
        <div class="suggestion" ng-repeat="tag in suggestions" ng-mousedown="createTag(tag.name)">
            <div class="tag">{{ tag.name }}</div>
        </div>
    </div>
</div>