body.object {

    .content {
        margin-left:-10px;
        text-align:center;
    }

    .aside {
        margin-left:10px;
    }
}

img#object {
    max-width:100%;
}

.actions.container {
    text-align:center;

    i {
        color:$october;
        cursor:pointer;
        display:block;
        padding:5px;
    }

    .is-favorited {
        color:$gold;
    }
}
