<form action="/missioncontrol/search" method="GET">
    <input type="search" placeholder="search" />
    <input type="submit" value="Search" />

    <div>
        <div>

        </div>
        <ul>
            <li>Any Type</li>

            <li>Image</li>
            <li>GIF</li>
            <li>Video</li>
            <li>Audio</li>
            <li>Document</li>
            <li>Tweet</li>
            <li>Article</li>
            <li>Comment</li>
            <li>Text</li>
            <li>Pivot</li>

            <li>Mission Patch</li>
            <li>Photo</li>
            <li>Telemetry</li>
            <li>Chart</li>
            <li>Screenshot</li>
            <li>Launch Video</li>
            <li>Press Conference/li>
            <li>Press Kit</li>
            <li>Cargo Manifest</li>
            <li>Infographic</li>
            <li>News Summary</li>
            <li>Press Release</li>
            <li>Reddit Comment</li>
            <li>NSF Comment</li>
            <li>Weather Forecast</li>
            <li>Hazard Map</li>
            <li>License</li>
        </ul>
    </div>
</form>