.select-list {
    margin:0 10px;
    position: relative;

    >.default {
        border:1px solid $bordergrey;
        height:50px;
        overflow:hidden;
    }

    ul {
        display:block;
        position:absolute;
        background-color:$white;
        box-shadow:10px 10px 15px rgba($lightblack, 0.2);
        border:1px solid $bordergrey;
        border-top:none;
        width:100%;
        max-height:270px; /* 4 options + half of the next option to indicate scrolling */
        overflow:auto;
    }

    li {
        margin:5px 0;
        padding:0;
        height:50px;

        &.selected {
            background-color:$blue;
        }
    }

    img {
        width:50px;
        height:50px;
        position:absolute;
    }

    .name {
        font-weight:bold;
        line-height: 50px;
        vertical-align: top;
        margin-left:60px;
    }
}