<div class="datetime">
    <!-- ko if: nullable() -->
    <input type="checkbox" data-bind="checked: isNull" />
    <!-- /ko -->
    <select data-bind="value: currentDay, options: days, optionsValue: 'value', optionsText: 'display', disable: isNull() == true"></select>
    <select data-bind="value: currentMonth, options: months, optionsValue: 'value', optionsText: 'display', disable: isNull() == true"></select>
    <select data-bind="value: currentYear, options: years, optionsValue: 'value', optionsText: 'display', disable: isNull() == true"></select>
</div>