<div class="datetime">
    <!-- ko if: nullable() -->
        <input type="checkbox" data-bind="checked: isNull" />
    <!-- /ko -->
    <select data-bind="value: currentDay, options: days, optionsValue: 'value', optionsText: 'display', disable: isNull() == true"></select>
    <select data-bind="value: currentMonth, options: months, optionsValue: 'value', optionsText: 'display', disable: isNull() == true"></select>
    <select data-bind="value: currentYear, options: years, optionsValue: 'value', optionsText: 'display', disable: isNull() == true"></select>

    <!-- ko if: type() == 'datetime' -->
        <input type="number" min="0" max="23" data-bind="value: currentHour, disable: isNull() == true" />:
        <input type="number" min="0" max="59" data-bind="value: currentMinute, disable: isNull() == true" />:
        <input type="number" min="0" max="59" data-bind="value: currentSecond, disable: isNull() == true" />
    <!-- /ko -->
</div>