section.comments {
    margin:0 auto;
    max-width:1000px;
}

@for $i from 0 through 20 {
    $width: 20px * $i;

    .comment-depth-#{$i} {
        margin-left: 10px;
        margin-top:20px;
        margin-bottom:20px;
        border-left:1px solid $bordergrey;
        padding-left:10px;
    }
}

.comment-owner {
    font-size:small;

    .deleted {
        color:$bordergrey;
    }
}

.comment-body {
    padding:10px 0;
}

.comment-actions {
    font-size:smaller;
    font-weight:bold;

    li {
        display:inline-block;
        cursor:pointer;
        margin-right:5px;
    }
}