*, *:before, *:after {
    box-sizing:border-box;
}

html {
}

html, body {
    height:100%;
    width:100%;
    font-family:$notoSans;
    background-color:$offwhite;
}

body {
    overflow-x:hidden;
    overflow-y:auto; // Was originally scroll, change it back if something breaks
    position:relative;
    left:0;
    font-size:14px;
}

// Make sure the first element following the header wrapper is offset by 50px
// to allow room for the navigation menu
.header-wrapper + * {
    padding-top:50px;
}

.content-wrapper {
    width:100%;
    min-height:100vh;
    height:100%;
    z-index:100;

    &.single-page {
        height:100vh;

        main {
            min-height:initial;
            min-height:auto;
            height:calc(100% - #{$h1-height} - 50px); // Height of h1 and nav substracted
        }
    }

    &.background {
        background-size:cover;
        background-position:center center;

        main {
            background-color:rgba($white, 0.75);

            &.invert {
                background-color:rgba($slateblack, 0.75);
            }
        }
    }
}

// CONTENT HOLDERS
h1, main {
    width:100%;
    max-width:1400px;
    margin:0 auto;
    z-index:200;
    position:relative;
}

main {
    background-color:$white;
    box-shadow:0 0 15px rgba($slateblack, 0.5);
    color:$slateblack;
    min-height:calc(100% - #{$h1-height}); // Substract h1 height
    display:block; // Make IE happy
    padding-bottom:30px; // undo the effects of a position:sticky bar causing the sibling element to have a top of 30px

    &.invert {
        color:$white;
    }
}

main > * {
    padding:0 10px;
}

ul, ol {
    list-style-type:none;
}

h1, h2, h3, h4, h5, h6 {
    font-family:$brandonGrotesque;
    font-weight:400;
    text-transform:uppercase;
}

h1 {
    height:$h1-height;
    color:$white;
    line-height:$h1-height;
    font-size:50px;
    font-weight:lighter;
    text-transform: none;
}

h2 {
    font-size:24px;
    margin:20px 0 10px 0;
    padding:5px 10px;
    border-bottom:1px solid $bordergrey;
    clear:both;
}

h3 {
    font-size:18px;
    color:$october;
    margin:20px 0 10px 0;
}

section {
    &:before,
    &:after {
        content: ".";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after { clear: both; }
    zoom: 1; /* IE < 8 */
}

p {
    line-height:1.2;
}

// Borders
.border-bottom {
    border-bottom:1px solid $bordergrey;
}

/// Text
.lowvisibility {
    &.color {
        color:$bordergrey;
    }
    &.opacity {
        opacity:0.75;
    }
}

.subheading {
    font-size:$font-large;
    line-height:2;
}

.code {
    font-family:"Source Code Pro";
}