header > nav {
    @include gridle_state(small) {
        width:250px;
        height:100%;
        position:fixed;
        top:0;
        left:-250px;
        background-color:$lightblack;
        text-align:left;
    }

    @include gridle(9);
    @include gridle(10, large);
    @include gridle(11, xlarge);
    height:100%;

    ul {
        @include gridle_container();
        cursor:pointer;

    }

    li > ul.nav-second-tier {
        display:none;
    }

    li:hover {
        background-color:rgba($white,0.1);
    }

    li:hover > ul.nav-second-tier, li > ul.nav-second-tier:hover {
        display:block;
        background-color:$white;
        color:$slateblack;
        z-index:300;
        position:relative;
        box-shadow:10px 10px 15px rgba($lightblack, 0.2);
    }

    ul.nav-second-tier li:hover {
        background-color:rgba($blue, 0.1);
    }
}

.wide {
    width:250%;
}

body, nav {
    @include transitionMed(left);
}

/* MOBILE NAVIGATION */
.nav-open {
    left:250px;

    nav {
        left:0;
    }
}

/* IN PAGE NAVIGATION */
nav.in-page {
    text-align:center;
    height:40px; // Includes the 10px padding of the parent element
    line-height:40px;

    li {
        height:40px;
        cursor:pointer;
        padding-bottom: 3px;

        &:after {
            content: '';
            display: block;
            margin: auto;
            height: 3px;
            width: 0px;
            background: transparent;
            transition: width .5s ease, background-color .5s ease;
        }

        &.active:after {
            width: 100%;
            background:$gold;
        }
    }
}

/* Sticky Bar Nav */
nav.sticky-bar {
    position:sticky;
    top:0; // tell the element where to stick
    width:inherit;
    max-width:1400px;
    font-size:14px;
    @include transitionMed((background-color, color));

    &.sticky {
        background-color:$blue;
        color:$white;
        z-index:1000;
    }
}

.sticky ~ * {
    top:40px;
    position:relative;
}

.highlights {
    height:40px;
    width:100%;
    position:relative;
}
