$planHeight:500px;
$planWidth:300px;

.subscribe {
    text-align:center;
    font-family: $brandonGrotesque;
    color:$white;
    font-size:18px;
    vertical-align: top;

    .plan {
        background-color:$blue;
        display:inline-block;
        border-radius:$border-radius-large;

		&.free {
			width:($planWidth / 5) * 4;
			height:($planHeight / 5) * 4;
		}

		&.subscription {
			width:$planWidth;
			height:$planHeight;
		}

	}
}